:root {
    /* color */
    --color-bg: blanchedalmond;
    --color-item: sandybrown;
    --color-blue: dodgerblue;
    --color-red: red;
    --color-pink: pink;

    /* size */
    --size-img: 60px;
    --size-font: 18px;

    /* animation */
    --animation-duration: 300ms;
}

#shoppingComp {
    height: 100vh;
    background-color: var(--color-bg);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#shoppingComp .MallImage {
    width: 300px;
    transition: all 300ms;
}

#shoppingComp .MallImage:hover {
    transform: scale(1.2);
}

#shoppingComp .btnList {
    margin-bottom: 15px;
}

#shoppingComp .btnList .btn {
    transition: all var(--animation-duration) ease;
    background: none;
    outline: none;
    border: none;
    margin-right: 15px;
    font-size: var(--size-font);
}

#shoppingComp .btnList .btn:hover {
    transform: scale(1.3);
}

#shoppingComp .btnList .btn .btnImg {
    height: var(--size-img);
}

#shoppingComp .btnList .coloredBtn {
    padding: 10px 25px;
    border-radius: 5px;
}

#shoppingComp .btnList .btn.blue {
    background: var(--color-blue);
}

#shoppingComp .btnList .btn.red {
    background: var(--color-red);
}

#shoppingComp .btnList .btn.pink {
    background: var(--color-pink);
}

#shoppingComp .itemList {
    margin: auto;
    padding: 0;
    width: 50%;
    height: 55%;
    overflow-y: scroll;
}

#shoppingComp .itemList .item {
    background: var(--color-item);
    line-height: calc(var(--size-img) * 1.2);
    font-size: var(--size-font);
    margin-bottom: 10px;
}

#shoppingComp .itemList .item .itemImg {
    height: var(--size-img);
}