/* Global */
:root {

    /* color */
    --color--yellow: #e7a61a;

    /* space size */
    --margin: 12px;
    --padding: 12px;

    /* font-size */
    --font-mega: 28px;
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}


/* Initial Setting */
h1 {
    font-size: var(--font-mega);
    margin-bottom: var(--margin);
    padding: calc(var(--padding)*2);
}

p {
    margin: 0;
    font-size: var(--font-medium);
}

.section {
    text-align: center;
    padding: calc(var(--padding)*2) 0 calc(var(--padding)*2) 0;
}


/* Coordinate */

.pointer {
    position: absolute;
    color: black;
    font-size: 10px;
    z-index: 3;
    margin: 15px;
}

#sidebar {
    color: white;
}

#sidebar a {
    text-decoration: none;
    color: #e7a61a;
    transition: transform 300ms ease-in;
}

/* Upper Poster */

#about {
    background-image: url("https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

#about .blackCover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
}

#about .left {
    width: 100%;
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

#about .right {
    width: 100%;
    flex: 1 1 70%;
    padding: var(--padding);
    padding-left: 0;
    color: white;
    z-index: 2;
}

#about .right strong:first-child {
    color: var(--color--yellow);
}

@keyframes poster-animation {
    0% {
        transform: rotateY(-20deg);
    }

    100% {
        transform: rotateY(20deg);

    }
}

#about .poster {
    background-image: url("https://avatars3.githubusercontent.com/u/37537227?s=460&u=4d3e816c54e399497f4df33ae4cd07da057e7ffa&v=4");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
    width: 180px;
    height: 200px;
    border-radius: 10%;
    background-color: white;
    text-align: center;
    border: 1px solid lightgrey;
    animation: poster-animation 1.6s infinite linear alternate;
    transform-style: preserve-3d;
}

#about .poster:hover {
    animation-play-state: paused;
}

#about .poster:hover .posterTitle::after {
    content: "넵!";
}

#about .left .poster .posterTitle {
    position: relative;
    bottom: 2.6em;
    padding: 1em 0;
    font-size: 1.4rem;
    font-weight: normal;
    text-align: right;
    transform: perspective(100px) translateZ(30px) translateY(-10px);
    color: #e7a61a;
}

#about .right .title {
    margin-bottom: 1rem;
}

#about .right .content {
    padding-bottom: calc(var(--margin)*1.3);
}

#about .right .content p {
    margin-bottom: 1rem;
}

#about .poster .images {
    position: absolute;
    width: 100%;
    height: auto;
    transform: translateZ(10px);
}

#about .poster i {
    font-size: 125px;
}

#about .poster img {
    width: 100%;
    height: auto;
}


/* skills */
#skills {
    background-color: #e7e6e6;
    padding: var(--padding);
}
#skills .skillCompsContainer {
    display: flex;
}
#skills .skillComps {
    flex: 50%;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
#skills .skill {
    position: relative;
    height: 86px;
    width: auto;
    background-color: #e7e6e6;
    border-radius: 20%;
    box-shadow: rgba(0.5, 0.5, 0.5, 0.5) 0px 5px 5px 0px;
    margin: var(--margin);
}

#skills .skill:hover {
    transform: scale(1.2);
}

#skills img.skillComp {
    height: 100%;
    border-radius: 20%;
    width: auto;
}

#skills .skillComps .skill__description {
    border-radius: 20%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0;
    color: white;
    transition: all 200ms ease-in;
}

#skills .skillComps .skill__description:hover {
    opacity: 0.8;
}

/* Experience */
#experience {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category__btn {
    border: 1px solid grey;
    font-size: var(--font-medium);
    width: 150px;
    height: 30px;
    margin: var(--margin) calc(var(--padding)/4);
}

.category__btn.selected,
.category__btn:hover {
    background-color: var(--color--yellow);
    border: none;
    outline: none;
}

.category__btn.selected .category__count,
.category__btn:hover .category__count{
    opacity: 1;
    top: 0px;
}

.category__count {
    background-color: white;
    border-radius: 50%;
    color: black;
    height: 20px;
    width: 20px;
    text-align: center;
    align-items: center;
    display: inline-block;
    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;
    transition: all 300ms ease-in;
}

.experience__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 300ms ease-out;
}

.experience__projects.animation-bottom {
    transform: translateY(20px) scale(0.96);
    opacity: 0.8;
}

.project {
    display: block;
    position: relative;
    width: 22vw;
    height: 40vh;
    margin: var(--margin);
    background-color: orange;
}

.project.invisible {
    display: none;
}

.project__img {
    width: 100%;
    height: 100%;
}

.experience__projects a:nth-child(1) .project__img {
    background: url("./image/flashGame.png") no-repeat center/cover;
}

.experience__projects a:nth-child(2) .project__img {
    background: url("./image/youTube.png") no-repeat center/cover;
}

.experience__projects a:nth-child(3) .project__img {
    background: url("./image/shoppingMall.png") no-repeat center/cover;
}

.experience__projects a:nth-child(4) .project__img {
    background: url("./image/todoList.png") no-repeat center/cover;
}

.project__description {
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    transform: translateY(10px);
    transition: all 300ms ease-in;
}

.project:hover .project__description{
    transform: translateY(0px);
    opacity: 0.8;
}

.project__description h3,
.project__description span {
    color: white;
}

.project__description h3:after {
    content: "";
    display: block;
    position: relative;
    left: 50%;
    top: 7%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background-color: white;
}

/* Activity */

#activity {
    background-color: #e7e6e6;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

#activity .list {
    height: 240px;
    width: 100%;
    overflow-y: auto;
}

#activity .list .items .item__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 12%;
}

#activity .list .items .item .item__content .item__delete {
    background-color: transparent;
    font-size: 20px;
}

#activity .list .items .item .item__content .item__delete:hover {
    color: #045fd4;
    transform: scale(1.4);
}

#activity .list .items .item .item__split {
    width: 79%;
    height: 1px;
    background-color: darkgrey;
    margin: auto;
}

#activity .input {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#activity .input .input__area {
    width: 80%;
    min-width: 200px;
    height: 30px;
    margin: var(--margin);
    padding: var(--margin);
}

#activity .input .input__btn {
    width: 25%;
    min-width: 75px;
    height: 30px;
    margin: var(--margin);
}

#activity .input .input__btn:hover {
    background-color: #e7a61a;
    color: white;
    transform: scale(1.2);
}

/* ArrowUp Button */

#arrowUp {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 5%;
    top: 88%;
    font-size: 30px;
    color: white;
    background-color: #e7a61a;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease-in;
}

#arrowUp.visible {
    opacity: 1;
    pointer-events: auto;
}

@media screen and (max-width: 768px) {
    .section {
        padding: 0px;
        margin: 0px;
    }

    .project {
        width: 92vw;
        height: 40vh;
        flex-grow: 1;
    }

    #coordinate {
        visibility: hidden;
    }

    #about .left {
        width: 140px;
        height: auto;
        margin: 15px;
    }

    #about .left .poster {
        height: 185px;
    }

    #about .left .poster .posterTitle {
        text-align: center;
        font-size: calc(var(--font-large)/1.5);
    }

    #about .right {
        margin: 5px 5px 25px 5px;
    }

    #about .right .title {
        font-size: calc(var(--font-mega)/1.2);
    }

    #about .right .content p {
        font-size: calc(var(--font-small)*1.09);
    }

    #about .right .content p:last-of-type {
        display: none;
    }
    #skills .skillCompsContainer {
        display: flex;
        flex-direction: column;
    }
    #skills .skillComps .skill {
        height: 70px;
    }
    #arrowUp {
        top: 93%;
    }
}

@media screen and (max-width: 640px) {
    #skills .skillComps .skill {
        height: 59px;
    }
}

@media screen and (max-width: 320px) {
    #skills .skillComps .skill {
        height: 49px;
    }
}
