main#content {
    position: relative;
    transform: translateY(85px);
}

main#sidebar {
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: black;
    opacity: 0.8;
    transform: translate(-100%, 50px);
    transition: transform 200ms ease-in;
    z-index:1;
}

main#sidebar.show {
    transform: translate(0px, 50px);
}

@media screen and (max-width: 768px) {
    main#content {
        transform: translateY(52px);
    }
    main#sidebar {
        display: none;
    }
}